body {
  background-color: #d1dcc5;
}
.center {
  border: 5px solid;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}
.button {
  background-color: royalblue;
  color: #ffffff;
  font-size: 18px;
  border-radius: 10px;
}
.button:hover {
  box-shadow: 10px 5px 5px grey;
  cursor: pointer;
}
