/* list-style-type: none; - Removes the bullets. A navigation bar does not need list markers.
Set margin: 0; and padding: 0; to remove browser default settings. */
ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    background-color: rgba(116, 177, 239);
}

li {
    display: inline;
    padding: 15px;
    margin: 15px;
}

a:hover {
    color: brown;
}